<div class="card border-info" *ngIf="show" style="margin-top: 10px">
  <div class="card-header bg-info"><h4>Filters</h4></div>
  <div class="topright">
    <a (click)="toggle()"><img src="assets/img/bolt.png" width="25px"></a>
  </div>
  <div class="card-block" style="padding: 10px">
    <b>Type:</b><br>
    <div type="checkbox" *ngFor="let type of uniqueJemTypes" >
      <input type="checkbox" (click)="filterJems('type',type)"> {{type}}
    </div>
    <hr>
    <b>Tech:</b><br>
    <div type="checkbox" *ngFor="let tech of uniqueJemTechs" >
      <input type="checkbox" checked (click)="filterJems('tech',tech)"> {{tech}}
    </div>

  </div>
</div>
