<div class="container-fluid dashboard-controls">
  <div class="row">
    <div class="col-md-6">
      <h1>Dashboard Title</h1>
    </div>
    <div class="col-md-6">
      <div class="btn-group float-md-right" >
        <button class="btn btn-outline-primary" (click)="introTile.toggle();" [ngClass]="{'active': introTile.show}">
          Intro
        </button>
        <button class="btn btn-outline-primary" (click)="toggleFilterTile();" [ngClass]="{'active':filterTile.show}">
          Filter
        </button>
        <button class="btn btn-outline-primary" (click)="listTile.toggle();" [ngClass]="{'active': listTile.show}">
          List
        </button>
        <button class="btn btn-outline-primary" (click)="addTile.toggle();" [ngClass]="{'active': addTile.show}">
          Add
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <jem-intro-tile></jem-intro-tile>
      <jem-filter-tile [(jems)]="jems"></jem-filter-tile>
    </div>
    <div [ngClass]="{'col-md-10': (introTile.show || filterTile.show), 'col-md-12': (!introTile.show && !filterTile.show)}">
      <div class="row">
        <div [ngClass]="{'col-md-6': addTile.show, 'col-md-12': !addTile.show}">
          <jem-list-tile [(jems)]="filterTile.jemsFiltered"></jem-list-tile>
        </div>
        <div class="col-md-6">
          <jem-add-tile></jem-add-tile>
        </div>
      </div>
    </div>
  </div>
</div>
