<div class="card border-primary tile" *ngIf="show" >
  <img class="card-img-top" src="assets/img/code-jems.jpg" alt="Card image cap">
  <div class="tile-controls">
    <a class="material-icons mi-sm" (click)="toggle()" data-toggle="tooltip" title="Hide Tile">visibility</a>
    <a class="material-icons mi-sm" data-toggle="tooltip" title="Turn Tile into a Modal">star_border</a>
  </div>
  <div class="card-block" style="padding: 10px">
    <h4 class="card-title">Code Jems</h4>
    <p class="card-text">Short cut key combos, Best Practices, Pro Tips. It's all here</p>
  </div>
</div>
