<div class="container-fluid dashboard-controls ">
  <div class="row bg-secondary py-2">
    <div class="col-md-6">
      <h1 class="h2 text-white">Jems Dashboard</h1>
    </div>
    <div class="col-md-6">

      <div class="btn-group ml-2 float-md-right" >
        <button class="btn btn-outline-primary material-icons" data-toggle="tooltip" title="Dashboard">
          dashboard
        </button>
      </div>

      <div class="btn-group float-md-right" >
        <button class="btn btn-primary material-icons" (click)="introTile.toggle();" [ngClass]="{'active': introTile.show}"  title="Jem Info Tile">
          info_outline
        </button>
        <button class="btn btn-primary material-icons" (click)="toggleFilterTile();" [ngClass]="{'active':filterTile.show}"  title="Jem Filter Tile">
          filter_list
        </button>
        <button class="btn btn-primary material-icons" (click)="listTile.toggle();" [ngClass]="{'active': listTile.show}"  title="Jem List Tile">
          list
        </button>
        <button class="btn btn-primary material-icons" (click)="addTile.toggle();" [ngClass]="{'active': addTile.show}"  title="Add Jem Tile">
          add
        </button>
        <button class="btn btn-primary material-icons" (click)="updateTile.toggle();" [ngClass]="{'active': updateTile.show}"  title="Edit Jem Tile">
          create
        </button>
        <button class="btn btn-primary material-icons" (click)="collectionTile.toggle();" [ngClass]="{'active': collectionTile.show}"  title="Jem Collection Tile">
          playlist_add
        </button>
      </div>



    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <jem-intro-tile></jem-intro-tile>
      <jem-filter-tile [(jems)]="jems"></jem-filter-tile>
    </div>
    <div [ngClass]="{'col-md-10': (introTile.show || filterTile.show), 'col-md-12': (!introTile.show && !filterTile.show)}">
      <div class="row">
        <div [ngClass]="{'col-md-6': addTile.show, 'col-md-12': !addTile.show}">
          <jem-list-tile [(jems)]="filterTile.jemsFiltered"></jem-list-tile>
        </div>
        <div class="col-md-6">
          <jem-add-tile (jemAddedEvent)="addNewJem($event)"></jem-add-tile>
          <jem-update-tile ></jem-update-tile>
          <jem-collection-tile></jem-collection-tile>
        </div>
      </div>
    </div>
  </div>
</div>
