<div class="sticky-top container-fluid dash-board-controls">
  <div class="row bg-primary py-2">

    <div class="col-lg-6">
      <h1 class="h2 text-white">{{data.pageTitle}}</h1>
    </div>

    <div class="col-lg-6">

      <div class="btn-group ml-2 float-lg-right d-none d-lg-block" >
        <button class="btn btn-outline-secondary material-icons" title="Dash Board" [ngClass]="{'active': data.dashBoard}"  (click)="toggleDashBoard()">
          dashboard
        </button>
      </div>

      <div class="btn-group float-lg-right d-none d-lg-block" *ngIf="data.dashBoard" >
        <button class="btn btn-primary material-icons" (click)="introVue.show = !introVue.show" [ngClass]="{'active': introVue.show}"  title="Jem Info View">
          info_outline
        </button>
        <button class="btn btn-primary material-icons" (click)="toggleFilterVue();" [ngClass]="{'active':filterVue.show}"  title="Jem Filter View">
          filter_list
        </button>
        <button class="btn btn-primary material-icons" (click)="toggleListVue();" [ngClass]="{'active': listVue.show}"  title="Jem List View">
          list
        </button>
        <button class="btn btn-primary material-icons" (click)="addVue.show = !addVue.show" [ngClass]="{'active': addVue.show}"  title="Add Jem View">
          add
        </button>
        <button class="btn btn-primary material-icons" (click)="updateVue.show = !updateVue.show" [ngClass]="{'active': updateVue.show}"  title="Edit Jem View">
          create
        </button>
        <button class="btn btn-primary material-icons" (click)="collectionVue.show = !collectionVue.show" [ngClass]="{'active': collectionVue.show}"  title="Jem Collection View">
          playlist_add
        </button>
      </div>

    </div>
  </div>
</div>


<div class="milieu-content " [ngClass]=" (isColumnVisible(0) && isColumnVisible(1) && isColumnVisible(2)) ? 'container-fluid' : 'container-classic' " >
  <div class="row">
    <div [ngClass]=" (isColumnVisible(0) && isColumnVisible(1) && isColumnVisible(2)) ? 'col-lg-2' : 'col-lg-3' ">
      <intro-vue></intro-vue>
      <filter-vue></filter-vue>
    </div>


    <div [ngClass]="isColumnVisible(0) ? (   (isColumnVisible(0) && isColumnVisible(1) && isColumnVisible(2)) ? 'col-lg-10' : 'col-lg-9' ) : 'col-lg-12'">
      <div class="row">

        <div  [ngClass]=" isColumnVisible(2) ? 'col-lg-6' : 'col-lg-12'">
          <jem-list-vue  (selectItemEvent)="selectJem($event)"></jem-list-vue>
        </div>

        <div  [ngClass]=" isColumnVisible(1) ? 'col-lg-6' : 'col-lg-12'">
          <jem-add-vue (jemAddedEvent)="addNewJem($event)"  ></jem-add-vue>
          <jem-update-vue ></jem-update-vue>
          <jem-collection-vue></jem-collection-vue>
        </div>

      </div>
    </div>
  </div>
</div>
