
<div class="fixed-top container-fluid dashboard-controls" style="padding-top: 56px">
  <div class="row bg-secondary py-2">
    <div class="col-md-6">
      <h1 class="h2 text-white">Jems Dashboard</h1>
    </div>
    <div class="col-md-6">

      <div class="btn-group ml-2 float-md-right" >
        <button class="btn btn-outline-primary material-icons" data-toggle="tooltip" title="Dashboard">
          dashboard
        </button>
      </div>

      <div class="btn-group float-md-right" >
        <button class="btn btn-primary material-icons" (click)="introTile.show = !introTile.show" [ngClass]="{'active': introTile.show}"  title="Jem Info Tile">
          info_outline
        </button>
        <button class="btn btn-primary material-icons" (click)="toggleFilterTile();" [ngClass]="{'active':filterTile.show}"  title="Jem Filter Tile">
          filter_list
        </button>
        <button class="btn btn-primary material-icons" (click)="toggleListTile();" [ngClass]="{'active': listTile.show}"  title="Jem List Tile">
          list
        </button>
        <button class="btn btn-primary material-icons" (click)="addTile.show = !addTile.show" [ngClass]="{'active': addTile.show}"  title="Add Jem Tile">
          add
        </button>
        <button class="btn btn-primary material-icons" (click)="updateTile.show = !updateTile.show" [ngClass]="{'active': updateTile.show}"  title="Edit Jem Tile">
          create
        </button>
        <button class="btn btn-primary material-icons" (click)="collectionTile.show = !collectionTile.show" [ngClass]="{'active': collectionTile.show}"  title="Jem Collection Tile">
          playlist_add
        </button>
      </div>



    </div>
  </div>
</div>
<div class="container-fluid" style="padding-top: 112px">
  <div class="row">
    <div class="col-md-2">

      <intro-tile ></intro-tile>
      <filter-tile></filter-tile>
    </div>
    <div [ngClass]="{'col-md-10': (introTile.show || filterTile.show), 'col-md-12': (!introTile.show && !filterTile.show)}">
      <div class="row">
        <div  [ngClass]="{'col-md-6': (addTile.show || updateTile.show || collectionTile.show), 'col-md-12': (!addTile.show && !updateTile.show && ! collectionTile.show)}">
          <jem-list-tile  (selectItemEvent)="selectJem($event)"></jem-list-tile>
        </div>
        <div [ngClass]="{'col-md-6': (listTile.show), 'col-md-12': (!listTile.show)}">
          <jem-add-tile (jemAddedEvent)="addNewJem($event)"  ></jem-add-tile>
          <jem-update-tile ></jem-update-tile>
          <jem-collection-tile></jem-collection-tile>
        </div>
      </div>
    </div>
  </div>
</div>
