<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" >
      <a class="navbar-brand" href="#">AEO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active"><a class="nav-link" href="#">Projects</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              JavaScript
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <a class="dropdown-item" href="/code-jems/tech/javascript">JavaScript</a>
             <a class="dropdown-item" href="/code-jems/tech/javascript/type/best-practices">Best Practices</a>
             <a class="dropdown-item" href="/code-jems/tech/javascript/type/how-to">How To</a>
             <a class="dropdown-item" href="/code-jems/tech/javascript/type/mistakes">Mistakes</a>
             <a class="dropdown-item" href="/code-jems/tech/javascript/type/style-guide">Style Guide</a>
           </div>
          </li>
          <li class="nav-item"><a class="nav-link" href="#">Angular</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/code-jems">Code Jems</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Best Practices</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Tools
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <a class="dropdown-item" href="#">JavaScript</a>
             <a class="dropdown-item" href="#">Angular</a>
             <a class="dropdown-item" href="#">Atom</a>
           </div>
          </li>

        </ul>



        <ul class="navbar-nav  my-2 my-lg-0">
          
          <li class="nav-item active">  <a href="/account" class="nav-link material-icons" data-toggle="tooltip" title="Account">account_box</a></li>
        </ul>
      </div>
    </nav>
