<div class="container-fluid dashboard-controls">
  <div class="row">
    <div class="col-md-6">
      <h1>Dashboard Title</h1>
    </div>
    <div class="col-md-6">
      <div class="btn-group float-md-right" data-toggle="buttons">
        <label class="btn btn-primary">
          <span type="checkbox" checked autocomplete="off" (click)="filterButtonClick()">Filter</span>
        </label>
        <label class="btn btn-primary">
          <span type="checkbox" checked autocomplete=off (click)="listButtonClick()">List</span>
        </label>
        <label class="btn btn-primary">
          <span type="checkbox" checked autocomplete="off" (click)="detailButtonClick()">Detail</span>
        </label>
        <label class="btn btn-primary">
          <span type="checkbox" checked autocomplete="off" (click)="editButtonClick()">Edit</span>
        </label>
      </div>
    </div>
  </div>
</div>
<!-- Filter: {{showFilterArea}} List:{{showListArea}} Detail:{{showDetailArea}} Edit:{{showEditArea}} -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div>
        <div style="background-color: red" *ngIf="showFilterArea">
          Filter Area
        </div>
      </div>
    </div>
    <div [ngClass]="{'col-md-10': showFilterArea, 'col-md-12': !showFilterArea}">
      <div class="row">
        <div [ngClass]="{'col-md-6': showEditArea, 'col-md-12': !showEditArea}">
          <div style="background-color: blue" *ngIf="showListArea">
            list Area
          </div>
        </div>
        <div [ngClass]="{'col-md-6': showListArea, 'col-md-12': !showListArea}">
          <div style="background-color: green" *ngIf="showEditArea">
            Edit Area
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
