<div class="parallax-img1">
  <div class="parallax-text">
    <span >
      Magic Hands Healing
      <h1>Welcome</h1>
      <p>
        Jody Farnsworth Uribe is an accomplished Usui and Karuna Reiki Master/Teacher energy healing practitioner. She uses clairvoyance and intuition to effectively work with and treat her clients.
      </p>
    </span>
  </div>
</div>
<section class="section section-dark">

  <p>
    Jody utilizes her gifts to read Tarot, Angel and oracle cards to bring enlightenment creating positive results. Whether you have questions concerning love, money, career etc. She delivers accurate guidance. She also practices foot zoning. It's a wellness technique that uses the electromagnetic signal system in the feet to balance the body, increase circulation, raise life energy and restore cell health and DNA. Jody also teaches a variety of classes on various soul expanding subjects as well as 5 levels of reiki.
  </p>
</section>

<div class="parallax-img2">
  <div class="parallax-text">
    <span class="parallax-border-trans">
      Reiki Energy Healing.
    </span>
  </div>
</div>
<section class="section section-light">
  <h2> Gentle yet powerful.</h2>
    <p>Reiki heals physical, emotional and mental</p>
    <p>It's channeling healing energy light touch fully clothed.</p>
    <p>I also incorporate sound healing.</p>
    <p>Channeled messages from your higher self and physical body included.</p>
</section>

<div class="parallax-img3">
  <div class="parallax-text">
    <span class="parallax-border">
      Foot Zoning
    </span>
  </div>
</div>
<section class="section section-light">
  <h2>Find more balance and direction in your life.</h2>
    <p>Foot zoning it's a modality incorporating the entire foot and ankle using tools, my hands, and some crystals.</p>
    <p>It's a wellness technique that uses the electromagnetic signal system in the feet.</p>
    <p>Brings balance to the body,increase circulation, raise life energy and restore cell health and DNA.</p>
</section>

<div class="parallax-img4">
  <div class="parallax-text">
    <span class="parallax-border">
      Tarot Reading.
    </span>
  </div>
</div>
<section class="section section-dark">
  <h2>It'll blow your mind.</h2>
    <p>A forecast of your entire 12 months ahead</p>
    <p>An angel card reading. Messages from guides and angels.</p>
</section>
<div class="parallax-img1">
  <div class="parallax-text">
    <span class="parallax-border">
      Magic Hands Healing
    </span>
  </div>
</div>
