// GLOBAL //








/// ABSTRACT //

.app-card(){
  border-color: @primary-color;
}

.app-card-header(){

}

.jem-card(){
  border-color: @primary-color;
  margin-top: 1em;
  margin-bottom: 1em;
}

.jem-card-header(){
  background-color: @primary-color;
  color: white;
}

.jem-card-active-header(){
  &:extend(.jem-card-header);
  background-color: @primary-color;
  filter: brightness(150%);
}

// COMPONENTS //



account-services{

  .create-account{
    text-align: center;
    .btn{
      margin: 0 auto;
    }
  }

  .card{
    .app-card;
    .card-header{ .app-card-header; }

    position: fixed;
    right: 50px;
    z-index: @modals-content-layer;
    width: 250px;
    box-shadow: 10px 10px 1px 0 rgba(0,0,0,0.3);
  }
}



app-log-out{
  .card{
    .app-card;
    .card-header{ .app-card-header; }

    position: fixed;
    right: 50px;
    z-index: @modals-content-layer;
    width: 250px;
    box-shadow: 10px 10px 1px 0 rgba(0,0,0,0.3);
  }

  .center{
    text-align: center;
    .btn{
      margin: 0 auto;
    }
  }
}

account-vue{
  .card{
    .app-card;
    .card-header{ .app-card-header; }
  }

  .card-block{
    color: black;
    text-align: left;
  }
}

create-account-vue{
  .card{
    .app-card;
    .card-header{ .app-card-header; }
  }
}







jem-add-vue{
  .card{
    .jem-card;
    .card-header{ .jem-card-header;}
  }
}

jem-update-vue{
  .card{
    .jem-card;
    .card-header{ .jem-card-header;}
  }
}
