/* You can add global styles to this file, and also import other style files */
a{
  cursor: pointer; cursor: hand;
}

.tile-controls {
  display: none;
  position: absolute;
  color: white;
  top: 5px;
  right: 5px;
}
.tile-controls-dk {
  display: none;
  position: absolute;
  color: grey;
  top: 5px;
  right: 5px;
}

.tile:hover .tile-controls{
display: inline-block;
}

.tile:hover .tile-controls-dk{
display: inline-block;
}

.mi-sm{
  font-size: 1.25em;
}
