/* You can add global styles to this file, and also import other style files */
a{
  cursor: pointer; cursor: hand;
}

.tile-controls {
  position: absolute;
  color: white;
  top: 0px;
  right: 3px;
  font-size: small;

}

.tile-item{
  font-size: small;
  
}
.tile-controls:hover{
  color: #d3d3d3;
}

.tile-controls-dk {
  position: absolute;
  color: grey;
  top: 0px;
  right: 5px;
}

.drawer{
  display: inline-flex;
    vertical-align: middle;
}

.mi-sm{

  font-size: 1.25em;
}
